<header class="header-branding">
    <div class="container">
        <a href="/">
            <img src="/images/logo.png" alt="Dean's IT Services Logo - Wired Water Tower" style="display: block; margin: 0 auto;">
        </a>
    </div>
    <nav class="main-nav">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/blog">Helpful Articles</a></li>
			<li><a href="/projects/">Projects</a>
			<li><a href="/contact">Contact Me</a></li>
			<li><a href="/upload">Upload</a></li>
        </ul>
    </nav>
</header>